*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 40px 20px;
}
a {
  list-style: none;
  text-decoration: none;
}
li {
  list-style: none;
  text-decoration: none;
}
