.select__medic {
}

.select__title {
    
font-weight: 700;
font-size: 48px;
line-height: 79.2px;
letter-spacing: 0%;
vertical-align: middle;

}
.border {
    border-bottom: 5px solid #04435E;
}
.select__menu {
    margin-top: 50px;
}
.select__list {
    margin-top: 40px;
}
.select__list__title {
    
}
.select__list__text {
    margin-top: 20px;
    letter-spacing: 0.9px;
}